*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    /* place-items: center; */
    /* background: rgb(245, 0, 0); */
    background-image: url("urpath.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header{
    /* background-color: rgb(33, 6, 141); */
    /* border-style: solid; */
    /* border-radius: 10%; */
    /* margin: auto;
    border-width: 10px;
    padding: 15px 10px 15px 10px;
    color: wheat;
    box-shadow: 0px 0px 15px 0px;
    border-radius: 15px;
     */
    
    display: flex;
    backdrop-filter: blur(20px);
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    color: wheat;
    box-shadow: 0px 0px 15px 0px;
}

header > h1{
    /* justify-content: center; */
    color: rgb(195, 195, 226);
    text-align: center;
}

.clock, .timer, .stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    backdrop-filter: blur(10px);
    border-style: hidden;
    border-radius: 25px ;
    box-shadow: 0px 2px 20px 1px;
    color: wheat;
    margin: auto;
    /* height: 120px; */
    padding: 25px 40px;
}

.clock > h2, .timer > h2, .stopwatch > h2{
    margin-top: 5px;
    color: white;
}

#current-time, #stopwatch-watch{
    font-size: 40px;
    margin-top: 10px;
    color: white;
}

.buttonN{
    display: flex;
    gap: 15px;
    margin: 10px 0px 10px 0px;
}

.buttonN button{
    font-size: 20px;
    border-radius: 5px;
    padding: 3px 5px;
    color: whitesmoke;
    background: none;
    cursor: pointer;
    border: 2px solid grey;
    transition-duration: 0.4s;
}



.inputTime{
    display: flex;
    margin: auto;
    padding: 20px 10px;
    text-align: center;
    justify-content: center;
    
}
.inputTime input{
    width: 100px;
    height: 50px;
    margin: auto 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    border-bottom: 3px solid white;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

.inputTime input::placeholder{
    font-size: 18px ;
}

.tombol button{
    font-size: 20px;
    margin: 5px 5px 0px 5px;
    border-radius: 5px;
    padding: 3px 5px;
    color: whitesmoke;
    background: none;
    cursor: pointer;
    border: 2px solid grey;
    transition-duration: 0.4s;
}




.navbar{
    display: flex;
    justify-content: center;
    margin: auto;
    /* height: 50px; */
    /* background-color: rgb(26, 26, 120); */
    backdrop-filter: blur(10px);
    border-radius: 25px;
    color: rgb(209, 209, 235);
    box-shadow: 2px 1px 25px 2px;
}

.bungkus{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    /* border-style: solid; */
    
}
.navigation > li{
    list-style-type: none;
    padding: 10px;
}

.navigation > li > a {
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 25px;

} 




.navigation > li > a:hover{
    color: rgb(204, 130, 236);
    box-shadow: 0px 2px 10px 4px;
    /* text-decoration-line: underline; */
    transition: all 0.5s ease-in-out;
}

header:hover{
    color: aquamarine;
    /* box-shadow: inset 0px 0px 25px #1479EA; */
    transition: all 0.5s ease-in-out;
}

#button1:hover{
    background-color: green;
}
#button2:hover{
    background-color:red;
}
#button3:hover{
    background-color: grey;
}

#tombol1:hover{
    background-color: green;
}
#tombol2:hover{
    background-color:red;
}
#tombol3:hover{
    background-color: grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}